USE [master]
GO
/****** Object:  Database [GenealogyUnifiedDB]    Script Date: 18.06.2026 21:10:09 ******/
CREATE DATABASE [GenealogyUnifiedDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GenealogyUnifiedDB', FILENAME = N'C:\Users\User\GenealogyUnifiedDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GenealogyUnifiedDB_log', FILENAME = N'C:\Users\User\GenealogyUnifiedDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GenealogyUnifiedDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GenealogyUnifiedDB]
GO
/****** Object:  Table [dbo].[AnimalAssessments]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalAssessments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[AssessmentDate] [date] NOT NULL,
	[ClassId] [int] NOT NULL,
	[OverallScore] [decimal](5, 2) NULL,
	[ExteriorScore] [decimal](5, 2) NULL,
	[ProductivityScore] [decimal](5, 2) NULL,
	[OffspringScore] [decimal](5, 2) NULL,
	[CommissionMembers] [nvarchar](200) NULL,
	[CertificateNumber] [nvarchar](50) NULL,
	[ValidUntil] [date] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_AnimalAssessments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalGenders]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalGenders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_AnimalGenders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalPedigree]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalPedigree](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[FatherId] [int] NULL,
	[MotherId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
 CONSTRAINT [PK_AnimalPedigree] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NOT NULL,
	[Nickname] [nvarchar](100) NOT NULL,
	[InventoryNumber] [nvarchar](50) NULL,
	[SpeciesId] [int] NOT NULL,
	[BreedId] [int] NULL,
	[ColorId] [int] NULL,
	[GenderId] [int] NOT NULL,
	[IsCastrated] [bit] NULL,
	[BirthDate] [date] NULL,
	[BirthPlace] [nvarchar](200) NULL,
	[DeathDate] [date] NULL,
	[DeathPlace] [nvarchar](200) NULL,
	[DeathReason] [nvarchar](200) NULL,
	[IsAlive] [bit] NULL,
	[PedigreeClassId] [int] NULL,
	[BreedingValue] [decimal](10, 2) NULL,
	[IsBreedingStock] [bit] NULL,
	[HeightAtWithers] [decimal](8, 2) NULL,
	[ChestGirth] [decimal](8, 2) NULL,
	[BodyLength] [decimal](8, 2) NULL,
	[Weight] [decimal](10, 2) NULL,
	[ChipNumber] [nvarchar](50) NULL,
	[GeneticDiseases] [nvarchar](500) NULL,
	[DNATestDate] [date] NULL,
	[DNAResults] [nvarchar](500) NULL,
	[OwnerId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ProfilePhotoPath] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breedings]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breedings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NOT NULL,
	[MaleId] [int] NOT NULL,
	[FemaleId] [int] NOT NULL,
	[BreedingDate] [date] NOT NULL,
	[ExpectedBirthDate] [date] NULL,
	[ActualBirthDate] [date] NULL,
	[IsSuccessful] [bit] NULL,
	[OffspringCount] [int] NULL,
	[AliveCount] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Breedings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breeds]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SpeciesId] [int] NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Breeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SpeciesId] [int] NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NOT NULL,
	[AnimalId] [int] NOT NULL,
	[ExhibitionName] [nvarchar](200) NOT NULL,
	[ExhibitionDate] [date] NOT NULL,
	[Location] [nvarchar](200) NULL,
	[Result] [nvarchar](100) NULL,
	[JudgeName] [nvarchar](100) NULL,
	[Rating] [int] NULL,
	[CertificateNumber] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Exhibitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyTrees]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyTrees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProjectTypeId] [int] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_FamilyTrees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Symbol] [nvarchar](5) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaFiles]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[MediaTypeId] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UploadedByUserId] [int] NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
	[IsProfilePhoto] [bit] NOT NULL,
 CONSTRAINT [PK_MediaFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaLinks]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaLinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaFileId] [int] NOT NULL,
	[PersonId] [int] NULL,
	[AnimalId] [int] NULL,
	[StoryId] [int] NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_MediaLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaTypes]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Extension] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MediaTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedigreeClasses]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedigreeClasses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_PedigreeClasses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonRelationships]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonRelationships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Person1Id] [int] NOT NULL,
	[Person2Id] [int] NOT NULL,
	[RelationshipType] [int] NOT NULL,
	[Direction] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
 CONSTRAINT [PK_PersonRelationships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[MaidenName] [nvarchar](100) NULL,
	[GenderId] [int] NOT NULL,
	[BirthDate] [date] NULL,
	[BirthPlace] [nvarchar](200) NULL,
	[DeathDate] [date] NULL,
	[DeathPlace] [nvarchar](200) NULL,
	[Biography] [nvarchar](max) NULL,
	[ProfilePhotoPath] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Profession] [nvarchar](100) NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductivityRecords]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductivityRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[RecordDate] [date] NOT NULL,
	[MilkYield] [decimal](10, 2) NULL,
	[FatContent] [decimal](5, 2) NULL,
	[ProteinContent] [decimal](5, 2) NULL,
	[RecordType] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductivityRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTypes]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProjectTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Species]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Species](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Species] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[EventDate] [date] NULL,
	[EventDateText] [nvarchar](100) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Stories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[RoleId] [int] NOT NULL,
	[PersonId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[LastUsedMode] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeterinaryEvents]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeterinaryEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[EventDate] [date] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[MedicineName] [nvarchar](100) NULL,
	[Dosage] [nvarchar](50) NULL,
	[WithdrawalDays] [int] NULL,
	[VetName] [nvarchar](100) NULL,
	[NextDueDate] [date] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_VeterinaryEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeterinaryEventTypes]    Script Date: 18.06.2026 21:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeterinaryEventTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[DefaultWithdrawalDays] [int] NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_VeterinaryEventTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnimalAssessments] ON 

INSERT [dbo].[AnimalAssessments] ([Id], [AnimalId], [AssessmentDate], [ClassId], [OverallScore], [ExteriorScore], [ProductivityScore], [OffspringScore], [CommissionMembers], [CertificateNumber], [ValidUntil], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (1, 1, CAST(N'2025-10-01' AS Date), 1, CAST(92.50 AS Decimal(5, 2)), CAST(88.00 AS Decimal(5, 2)), CAST(96.00 AS Decimal(5, 2)), CAST(85.00 AS Decimal(5, 2)), N'Иванов И.И., Петров П.П.', N'ПС-001234', CAST(N'2027-10-01' AS Date), N'Рекомендована для племенного стада', 3, CAST(N'2028-05-04T18:56:35.230' AS DateTime))
INSERT [dbo].[AnimalAssessments] ([Id], [AnimalId], [AssessmentDate], [ClassId], [OverallScore], [ExteriorScore], [ProductivityScore], [OffspringScore], [CommissionMembers], [CertificateNumber], [ValidUntil], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (2, 2, CAST(N'2025-10-01' AS Date), 1, CAST(90.00 AS Decimal(5, 2)), CAST(85.00 AS Decimal(5, 2)), NULL, CAST(95.00 AS Decimal(5, 2)), N'Иванов И.И., Петров П.П.', N'ПС-001235', CAST(N'2027-10-01' AS Date), N'Основной производитель', 3, CAST(N'2028-05-04T18:56:35.230' AS DateTime))
INSERT [dbo].[AnimalAssessments] ([Id], [AnimalId], [AssessmentDate], [ClassId], [OverallScore], [ExteriorScore], [ProductivityScore], [OffspringScore], [CommissionMembers], [CertificateNumber], [ValidUntil], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (3, 3, CAST(N'2025-10-01' AS Date), 2, CAST(78.50 AS Decimal(5, 2)), CAST(75.00 AS Decimal(5, 2)), CAST(82.00 AS Decimal(5, 2)), CAST(70.00 AS Decimal(5, 2)), N'Иванов И.И., Петров П.П.', N'ПС-001236', CAST(N'2027-10-01' AS Date), N'Перспективная', 3, CAST(N'2028-05-04T18:56:35.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[AnimalAssessments] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalGenders] ON 

INSERT [dbo].[AnimalGenders] ([Id], [Name]) VALUES (3, N'Не указан')
INSERT [dbo].[AnimalGenders] ([Id], [Name]) VALUES (1, N'Самец')
INSERT [dbo].[AnimalGenders] ([Id], [Name]) VALUES (2, N'Самка')
SET IDENTITY_INSERT [dbo].[AnimalGenders] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalPedigree] ON 

INSERT [dbo].[AnimalPedigree] ([Id], [AnimalId], [FatherId], [MotherId], [CreatedAt], [CreatedByUserId]) VALUES (1, 3, 2, 1, CAST(N'2026-05-16T01:24:20.163' AS DateTime), 3)
INSERT [dbo].[AnimalPedigree] ([Id], [AnimalId], [FatherId], [MotherId], [CreatedAt], [CreatedByUserId]) VALUES (2, 5, 4, NULL, CAST(N'2026-05-16T01:26:18.323' AS DateTime), 3)
INSERT [dbo].[AnimalPedigree] ([Id], [AnimalId], [FatherId], [MotherId], [CreatedAt], [CreatedByUserId]) VALUES (3, 8, 6, 7, CAST(N'2026-05-16T01:51:49.127' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[AnimalPedigree] OFF
GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

SET IDENTITY_INSERT [dbo].[Animals] OFF
GO
SET IDENTITY_INSERT [dbo].[Breedings] ON 

INSERT [dbo].[Breedings] ([Id], [TreeId], [MaleId], [FemaleId], [BreedingDate], [ExpectedBirthDate], [ActualBirthDate], [IsSuccessful], [OffspringCount], [AliveCount], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (1, 3, 2, 1, CAST(N'2020-12-10' AS Date), CAST(N'2021-03-20' AS Date), CAST(N'2021-04-10' AS Date), 1, 1, 1, N'Искусственное осеменение', 3, CAST(N'2026-05-04T18:56:35.230' AS DateTime))
INSERT [dbo].[Breedings] ([Id], [TreeId], [MaleId], [FemaleId], [BreedingDate], [ExpectedBirthDate], [ActualBirthDate], [IsSuccessful], [OffspringCount], [AliveCount], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (2, 3, 2, 3, CAST(N'2022-01-15' AS Date), CAST(N'2022-04-20' AS Date), CAST(N'2022-05-01' AS Date), 1, 1, 1, N'Естественная случка', 3, CAST(N'2026-05-04T18:56:35.230' AS DateTime))
INSERT [dbo].[Breedings] ([Id], [TreeId], [MaleId], [FemaleId], [BreedingDate], [ExpectedBirthDate], [ActualBirthDate], [IsSuccessful], [OffspringCount], [AliveCount], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (3, 3, 4, 5, CAST(N'2021-10-05' AS Date), CAST(N'2022-01-15' AS Date), CAST(N'2022-01-20' AS Date), 1, 1, 1, NULL, 3, CAST(N'2026-05-04T18:56:35.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Breedings] OFF
GO
SET IDENTITY_INSERT [dbo].[Breeds] ON 

INSERT [dbo].[Breeds] ([Id], [Name], [SpeciesId], [Description]) VALUES (1, N'Голштинская', 1, N'Молочная порода, высокая продуктивность')
INSERT [dbo].[Breeds] ([Id], [Name], [SpeciesId], [Description]) VALUES (2, N'Черно-пестрая', 1, N'Распространенная молочная порода')
INSERT [dbo].[Breeds] ([Id], [Name], [SpeciesId], [Description]) VALUES (3, N'Симментальская', 1, N'Мясо-молочная порода')
SET IDENTITY_INSERT [dbo].[Breeds] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name], [SpeciesId]) VALUES (8, N'Белая', 3)
INSERT [dbo].[Colors] ([Id], [Name], [SpeciesId]) VALUES (14, N'Белая', 6)
INSERT [dbo].[Colors] ([Id], [Name], [SpeciesId]) VALUES (5, N'Вороная', 2)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Exhibitions] ON 

INSERT [dbo].[Exhibitions] ([Id], [TreeId], [AnimalId], [ExhibitionName], [ExhibitionDate], [Location], [Result], [JudgeName], [Rating], [CertificateNumber], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (1, 3, 1, N'Золотая осень 2023', CAST(N'2025-09-15' AS Date), N'Москва, ВДНХ', N'Победитель породы', N'Иванов И.И.', 95, N'В-12345', N'Лучшая корова выставки', 3, CAST(N'2028-05-04T18:56:35.233' AS DateTime))
INSERT [dbo].[Exhibitions] ([Id], [TreeId], [AnimalId], [ExhibitionName], [ExhibitionDate], [Location], [Result], [JudgeName], [Rating], [CertificateNumber], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (2, 3, 2, N'Золотая осень 2023', CAST(N'2025-09-15' AS Date), N'Москва, ВДНХ', N'Лучший производитель', N'Петров П.П.', 92, N'В-12346', NULL, 3, CAST(N'2028-05-04T18:56:35.233' AS DateTime))
INSERT [dbo].[Exhibitions] ([Id], [TreeId], [AnimalId], [ExhibitionName], [ExhibitionDate], [Location], [Result], [JudgeName], [Rating], [CertificateNumber], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (3, 3, 1, N'Весенний смотр 2024', CAST(N'2026-05-10' AS Date), N'Тверь', N'Абсолютный чемпион', N'Сидоров С.С.', 97, N'В-23456', N'Рекордный удой', 3, CAST(N'2028-05-04T18:56:35.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[Exhibitions] OFF
GO
SET IDENTITY_INSERT [dbo].[FamilyTrees] ON 

INSERT [dbo].[FamilyTrees] ([Id], [Name], [Description], [ProjectTypeId], [CreatedByUserId], [CreatedAt], [IsPublic]) VALUES (1, N'Семья Ивановых', N'Основное генеалогическое древо семьи Ивановых', 1, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 1)
INSERT [dbo].[FamilyTrees] ([Id], [Name], [Description], [ProjectTypeId], [CreatedByUserId], [CreatedAt], [IsPublic]) VALUES (2, N'Древо Петровых', N'Родословная семьи Петровых', 1, 2, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 0)
INSERT [dbo].[FamilyTrees] ([Id], [Name], [Description], [ProjectTypeId], [CreatedByUserId], [CreatedAt], [IsPublic]) VALUES (3, N'Племенная ферма "Зорька"', N'Учёт крупного рогатого скота', 2, 3, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FamilyTrees] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [Name], [Symbol]) VALUES (1, N'Мужской', N'♂')
INSERT [dbo].[Genders] ([Id], [Name], [Symbol]) VALUES (2, N'Женский', N'♀')
INSERT [dbo].[Genders] ([Id], [Name], [Symbol]) VALUES (3, N'Не указан', N'?')
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaFiles] ON 

INSERT [dbo].[MediaFiles] ([Id], [FileName], [FilePath], [FileSize], [MediaTypeId], [Description], [UploadedByUserId], [UploadedAt], [IsProfilePhoto]) VALUES (1, N'ivanov_family.jpg', N'Media/ivanov_family.jpg', 2048000, 1, N'Семейное фото Ивановых', 1, CAST(N'2026-05-04T18:56:35.233' AS DateTime), 0)
INSERT [dbo].[MediaFiles] ([Id], [FileName], [FilePath], [FileSize], [MediaTypeId], [Description], [UploadedByUserId], [UploadedAt], [IsProfilePhoto]) VALUES (3, N'zorka_portrait.jpg', N'Media/zorka_portrait.jpg', 1024000, 1, N'Портрет коровы Зорьки', 3, CAST(N'2026-05-04T18:56:35.233' AS DateTime), 1)
INSERT [dbo].[MediaFiles] ([Id], [FileName], [FilePath], [FileSize], [MediaTypeId], [Description], [UploadedByUserId], [UploadedAt], [IsProfilePhoto]) VALUES (4, N'buran_award.jpg', N'Media/buran_award.jpg', 768000, 1, N'Буран на выставке', 3, CAST(N'2026-05-04T18:56:35.233' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[MediaFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaLinks] ON 

INSERT [dbo].[MediaLinks] ([Id], [MediaFileId], [PersonId], [AnimalId], [StoryId], [SortOrder]) VALUES (1, 1, 1, NULL, NULL, 0)
INSERT [dbo].[MediaLinks] ([Id], [MediaFileId], [PersonId], [AnimalId], [StoryId], [SortOrder]) VALUES (4, 3, NULL, 1, NULL, 0)
INSERT [dbo].[MediaLinks] ([Id], [MediaFileId], [PersonId], [AnimalId], [StoryId], [SortOrder]) VALUES (5, 4, NULL, 2, NULL, 0)
SET IDENTITY_INSERT [dbo].[MediaLinks] OFF
GO
SET IDENTITY_INSERT [dbo].[MediaTypes] ON 

INSERT [dbo].[MediaTypes] ([Id], [Name], [Extension]) VALUES (1, N'Изображение', N'.jpg,.jpeg,.png,.gif,.bmp')
INSERT [dbo].[MediaTypes] ([Id], [Name], [Extension]) VALUES (2, N'Видео', N'.mp4,.avi,.mov,.wmv')
INSERT [dbo].[MediaTypes] ([Id], [Name], [Extension]) VALUES (3, N'Аудио', N'.mp3,.wav,.wma,.flac')
SET IDENTITY_INSERT [dbo].[MediaTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PedigreeClasses] ON 

INSERT [dbo].[PedigreeClasses] ([Id], [Name], [Code], [Description]) VALUES (1, N'Элита', 1, N'Высший класс, наилучшие племенные качества')
INSERT [dbo].[PedigreeClasses] ([Id], [Name], [Code], [Description]) VALUES (2, N'1 класс', 2, N'Хорошие племенные качества')
INSERT [dbo].[PedigreeClasses] ([Id], [Name], [Code], [Description]) VALUES (3, N'2 класс', 3, N'Удовлетворительные племенные качества')
SET IDENTITY_INSERT [dbo].[PedigreeClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonRelationships] ON 

INSERT [dbo].[PersonRelationships] ([Id], [Person1Id], [Person2Id], [RelationshipType], [Direction], [CreatedAt], [CreatedByUserId]) VALUES (16, 10, 12, 1, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 2)
INSERT [dbo].[PersonRelationships] ([Id], [Person1Id], [Person2Id], [RelationshipType], [Direction], [CreatedAt], [CreatedByUserId]) VALUES (17, 11, 12, 1, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 2)
INSERT [dbo].[PersonRelationships] ([Id], [Person1Id], [Person2Id], [RelationshipType], [Direction], [CreatedAt], [CreatedByUserId]) VALUES (18, 10, 13, 1, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[PersonRelationships] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductivityRecords] ON 

INSERT [dbo].[ProductivityRecords] ([Id], [AnimalId], [RecordDate], [MilkYield], [FatContent], [ProteinContent], [RecordType], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (1, 1, CAST(N'2025-03-01' AS Date), CAST(8560.00 AS Decimal(10, 2)), CAST(3.75 AS Decimal(5, 2)), CAST(3.20 AS Decimal(5, 2)), N'lactation', N'Первая лактация', 3, CAST(N'2028-05-04T18:56:35.233' AS DateTime))
INSERT [dbo].[ProductivityRecords] ([Id], [AnimalId], [RecordDate], [MilkYield], [FatContent], [ProteinContent], [RecordType], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (2, 1, CAST(N'2025-03-01' AS Date), CAST(9850.00 AS Decimal(10, 2)), CAST(3.80 AS Decimal(5, 2)), CAST(3.25 AS Decimal(5, 2)), N'lactation', N'Рекордный удой', 3, CAST(N'2027-05-04T18:56:35.233' AS DateTime))
INSERT [dbo].[ProductivityRecords] ([Id], [AnimalId], [RecordDate], [MilkYield], [FatContent], [ProteinContent], [RecordType], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (3, 2, CAST(N'2025-01-15' AS Date), NULL, NULL, NULL, N'breeding', N'Производитель, качество потомства', 3, CAST(N'2028-05-04T18:56:35.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductivityRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectTypes] ON 

INSERT [dbo].[ProjectTypes] ([Id], [Name], [Description]) VALUES (1, N'Семейное древо', N'Генеалогия людей, истории, воспоминания, биографии')
INSERT [dbo].[ProjectTypes] ([Id], [Name], [Description]) VALUES (2, N'Племенная книга', N'Селекция животных, учёт скрещиваний, оценка продуктивности')
SET IDENTITY_INSERT [dbo].[ProjectTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Species] ON 

INSERT [dbo].[Species] ([Id], [Name]) VALUES (7, N'Козы')
INSERT [dbo].[Species] ([Id], [Name]) VALUES (4, N'Кошки')
INSERT [dbo].[Species] ([Id], [Name]) VALUES (8, N'Кролики')
SET IDENTITY_INSERT [dbo].[Species] OFF
GO
SET IDENTITY_INSERT [dbo].[Stories] ON 

INSERT [dbo].[Stories] ([Id], [PersonId], [Title], [Content], [EventDate], [EventDateText], [CreatedByUserId], [CreatedAt], [UpdatedAt]) VALUES (1, 3, N'Рождение Петра', N'Петр родился в роддоме №4 города Москвы', CAST(N'1975-07-22' AS Date), NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), CAST(N'2026-06-09T16:18:01.497' AS DateTime))
INSERT [dbo].[Stories] ([Id], [PersonId], [Title], [Content], [EventDate], [EventDateText], [CreatedByUserId], [CreatedAt], [UpdatedAt]) VALUES (2, 3, N'Окончание школы', N'Закончил школу с золотой медалью', CAST(N'1992-06-30' AS Date), NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), CAST(N'2026-06-18T20:56:53.050' AS DateTime))
INSERT [dbo].[Stories] ([Id], [PersonId], [Title], [Content], [EventDate], [EventDateText], [CreatedByUserId], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'Свадьба', N'Свадьба Петра и Анны', CAST(N'1999-09-15' AS Date), NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), CAST(N'2026-06-18T20:59:35.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (1, N'Администратор', N'Полный доступ ко всем функциям системы')
INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (2, N'Редактор', N'Может добавлять и редактировать информацию')
INSERT [dbo].[UserRoles] ([Id], [Name], [Description]) VALUES (3, N'Зритель', N'Только просмотр данных без возможности редактирования')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [RoleId], [PersonId], [IsActive], [CreatedAt], [LastLoginAt], [LastUsedMode]) VALUES (1, N'admin', N'admin123', N'admin@family.com', 1, NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), NULL, 1)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [RoleId], [PersonId], [IsActive], [CreatedAt], [LastLoginAt], [LastUsedMode]) VALUES (2, N'lavr', N'pass123', N'lavr@mail.ru', 2, NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), NULL, 2)
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Email], [RoleId], [PersonId], [IsActive], [CreatedAt], [LastLoginAt], [LastUsedMode]) VALUES (3, N'zavodchik', N'farm123', N'farm@livestock.ru', 2, NULL, 1, CAST(N'2026-05-04T18:56:35.230' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VeterinaryEvents] ON 

INSERT [dbo].[VeterinaryEvents] ([Id], [AnimalId], [EventDate], [EventTypeId], [MedicineName], [Dosage], [WithdrawalDays], [VetName], [NextDueDate], [Cost], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (1, 1, CAST(N'2024-01-10' AS Date), 1, N'Байтрил 10%', N'10 мл', 7, N'Смирнов А.А.', CAST(N'2025-01-10' AS Date), CAST(500.00 AS Decimal(10, 2)), N'Плановая вакцинация', 3, CAST(N'2026-05-04T19:05:34.400' AS DateTime))
INSERT [dbo].[VeterinaryEvents] ([Id], [AnimalId], [EventDate], [EventTypeId], [MedicineName], [Dosage], [WithdrawalDays], [VetName], [NextDueDate], [Cost], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (2, 2, CAST(N'2024-01-10' AS Date), 1, N'Байтрил 10%', N'12 мл', 7, N'Смирнов А.А.', CAST(N'2025-01-10' AS Date), CAST(500.00 AS Decimal(10, 2)), N'Плановая вакцинация', 3, CAST(N'2026-05-04T19:05:34.400' AS DateTime))
INSERT [dbo].[VeterinaryEvents] ([Id], [AnimalId], [EventDate], [EventTypeId], [MedicineName], [Dosage], [WithdrawalDays], [VetName], [NextDueDate], [Cost], [Notes], [CreatedByUserId], [CreatedAt]) VALUES (3, 6, CAST(N'2024-06-15' AS Date), 1, N'Эквивак EHV', N'1 доза', 0, N'Кузнецов В.В.', CAST(N'2025-06-15' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Вакцинация от гриппа', 3, CAST(N'2026-05-04T19:05:34.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[VeterinaryEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[VeterinaryEventTypes] ON 

INSERT [dbo].[VeterinaryEventTypes] ([Id], [Name], [IsRequired], [DefaultWithdrawalDays], [Description]) VALUES (1, N'Вакцинация', 1, NULL, N'Плановая вакцинация')
INSERT [dbo].[VeterinaryEventTypes] ([Id], [Name], [IsRequired], [DefaultWithdrawalDays], [Description]) VALUES (2, N'Дегельминтизация', 1, 14, N'Обработка от глистов')
INSERT [dbo].[VeterinaryEventTypes] ([Id], [Name], [IsRequired], [DefaultWithdrawalDays], [Description]) VALUES (3, N'Лечение', 0, NULL, N'Лечебные мероприятия')
SET IDENTITY_INSERT [dbo].[VeterinaryEventTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AnimalGenders_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[AnimalGenders] ADD  CONSTRAINT [UQ_AnimalGenders_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Animals_InventoryNumber]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Animals] ADD  CONSTRAINT [UQ_Animals_InventoryNumber] UNIQUE NONCLUSTERED 
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Breeds_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Breeds] ADD  CONSTRAINT [UQ_Breeds_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Colors_Name_SpeciesId]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Colors] ADD  CONSTRAINT [UQ_Colors_Name_SpeciesId] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[SpeciesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Genders_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Genders] ADD  CONSTRAINT [UQ_Genders_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MediaTypes_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[MediaTypes] ADD  CONSTRAINT [UQ_MediaTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PedigreeClasses_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[PedigreeClasses] ADD  CONSTRAINT [UQ_PedigreeClasses_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ProjectTypes_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[ProjectTypes] ADD  CONSTRAINT [UQ_ProjectTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Species_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Species] ADD  CONSTRAINT [UQ_Species_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserRoles_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRoles_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VeterinaryEventTypes_Name]    Script Date: 18.06.2026 21:10:09 ******/
ALTER TABLE [dbo].[VeterinaryEventTypes] ADD  CONSTRAINT [UQ_VeterinaryEventTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnimalAssessments] ADD  CONSTRAINT [DF_AnimalAssessments_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnimalPedigree] ADD  CONSTRAINT [DF_AnimalPedigree_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Animals] ADD  CONSTRAINT [DF_Animals_IsCastrated]  DEFAULT ((0)) FOR [IsCastrated]
GO
ALTER TABLE [dbo].[Animals] ADD  CONSTRAINT [DF_Animals_IsAlive]  DEFAULT ((1)) FOR [IsAlive]
GO
ALTER TABLE [dbo].[Animals] ADD  CONSTRAINT [DF_Animals_IsBreedingStock]  DEFAULT ((1)) FOR [IsBreedingStock]
GO
ALTER TABLE [dbo].[Animals] ADD  CONSTRAINT [DF_Animals_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Breedings] ADD  CONSTRAINT [DF_Breedings_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Exhibitions] ADD  CONSTRAINT [DF_Exhibitions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FamilyTrees] ADD  CONSTRAINT [DF_FamilyTrees_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FamilyTrees] ADD  CONSTRAINT [DF_FamilyTrees_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[MediaFiles] ADD  CONSTRAINT [DF_MediaFiles_UploadedAt]  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[MediaFiles] ADD  CONSTRAINT [DF_MediaFiles_IsProfilePhoto]  DEFAULT ((0)) FOR [IsProfilePhoto]
GO
ALTER TABLE [dbo].[MediaLinks] ADD  CONSTRAINT [DF_MediaLinks_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[PersonRelationships] ADD  CONSTRAINT [DF_PersonRelationships_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [DF_Persons_GenderId]  DEFAULT ((3)) FOR [GenderId]
GO
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [DF_Persons_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductivityRecords] ADD  CONSTRAINT [DF_ProductivityRecords_RecordType]  DEFAULT ('monthly') FOR [RecordType]
GO
ALTER TABLE [dbo].[ProductivityRecords] ADD  CONSTRAINT [DF_ProductivityRecords_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stories] ADD  CONSTRAINT [DF_Stories_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VeterinaryEvents] ADD  CONSTRAINT [DF_VeterinaryEvents_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VeterinaryEventTypes] ADD  CONSTRAINT [DF_VeterinaryEventTypes_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[AnimalAssessments]  WITH CHECK ADD  CONSTRAINT [FK_AnimalAssessments_Animal] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[AnimalAssessments] CHECK CONSTRAINT [FK_AnimalAssessments_Animal]
GO
ALTER TABLE [dbo].[AnimalAssessments]  WITH CHECK ADD  CONSTRAINT [FK_AnimalAssessments_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[PedigreeClasses] ([Id])
GO
ALTER TABLE [dbo].[AnimalAssessments] CHECK CONSTRAINT [FK_AnimalAssessments_Class]
GO
ALTER TABLE [dbo].[AnimalAssessments]  WITH CHECK ADD  CONSTRAINT [FK_AnimalAssessments_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnimalAssessments] CHECK CONSTRAINT [FK_AnimalAssessments_Creator]
GO
ALTER TABLE [dbo].[AnimalPedigree]  WITH CHECK ADD  CONSTRAINT [FK_AnimalPedigree_Animal] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[AnimalPedigree] CHECK CONSTRAINT [FK_AnimalPedigree_Animal]
GO
ALTER TABLE [dbo].[AnimalPedigree]  WITH CHECK ADD  CONSTRAINT [FK_AnimalPedigree_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnimalPedigree] CHECK CONSTRAINT [FK_AnimalPedigree_Creator]
GO
ALTER TABLE [dbo].[AnimalPedigree]  WITH CHECK ADD  CONSTRAINT [FK_AnimalPedigree_Father] FOREIGN KEY([FatherId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[AnimalPedigree] CHECK CONSTRAINT [FK_AnimalPedigree_Father]
GO
ALTER TABLE [dbo].[AnimalPedigree]  WITH CHECK ADD  CONSTRAINT [FK_AnimalPedigree_Mother] FOREIGN KEY([MotherId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[AnimalPedigree] CHECK CONSTRAINT [FK_AnimalPedigree_Mother]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Breed] FOREIGN KEY([BreedId])
REFERENCES [dbo].[Breeds] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Breed]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Color] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Color]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Creator]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[AnimalGenders] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Gender]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Owner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Owner]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_PedigreeClass] FOREIGN KEY([PedigreeClassId])
REFERENCES [dbo].[PedigreeClasses] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_PedigreeClass]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Species]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Tree] FOREIGN KEY([TreeId])
REFERENCES [dbo].[FamilyTrees] ([Id])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Tree]
GO
ALTER TABLE [dbo].[Breedings]  WITH CHECK ADD  CONSTRAINT [FK_Breedings_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Breedings] CHECK CONSTRAINT [FK_Breedings_Creator]
GO
ALTER TABLE [dbo].[Breedings]  WITH CHECK ADD  CONSTRAINT [FK_Breedings_Female] FOREIGN KEY([FemaleId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[Breedings] CHECK CONSTRAINT [FK_Breedings_Female]
GO
ALTER TABLE [dbo].[Breedings]  WITH CHECK ADD  CONSTRAINT [FK_Breedings_Male] FOREIGN KEY([MaleId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[Breedings] CHECK CONSTRAINT [FK_Breedings_Male]
GO
ALTER TABLE [dbo].[Breedings]  WITH CHECK ADD  CONSTRAINT [FK_Breedings_Tree] FOREIGN KEY([TreeId])
REFERENCES [dbo].[FamilyTrees] ([Id])
GO
ALTER TABLE [dbo].[Breedings] CHECK CONSTRAINT [FK_Breedings_Tree]
GO
ALTER TABLE [dbo].[Breeds]  WITH CHECK ADD  CONSTRAINT [FK_Breeds_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([Id])
GO
ALTER TABLE [dbo].[Breeds] CHECK CONSTRAINT [FK_Breeds_Species]
GO
ALTER TABLE [dbo].[Colors]  WITH CHECK ADD  CONSTRAINT [FK_Colors_Species] FOREIGN KEY([SpeciesId])
REFERENCES [dbo].[Species] ([Id])
GO
ALTER TABLE [dbo].[Colors] CHECK CONSTRAINT [FK_Colors_Species]
GO
ALTER TABLE [dbo].[Exhibitions]  WITH CHECK ADD  CONSTRAINT [FK_Exhibitions_Animal] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[Exhibitions] CHECK CONSTRAINT [FK_Exhibitions_Animal]
GO
ALTER TABLE [dbo].[Exhibitions]  WITH CHECK ADD  CONSTRAINT [FK_Exhibitions_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Exhibitions] CHECK CONSTRAINT [FK_Exhibitions_Creator]
GO
ALTER TABLE [dbo].[Exhibitions]  WITH CHECK ADD  CONSTRAINT [FK_Exhibitions_Tree] FOREIGN KEY([TreeId])
REFERENCES [dbo].[FamilyTrees] ([Id])
GO
ALTER TABLE [dbo].[Exhibitions] CHECK CONSTRAINT [FK_Exhibitions_Tree]
GO
ALTER TABLE [dbo].[FamilyTrees]  WITH CHECK ADD  CONSTRAINT [FK_FamilyTrees_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FamilyTrees] CHECK CONSTRAINT [FK_FamilyTrees_Creator]
GO
ALTER TABLE [dbo].[FamilyTrees]  WITH CHECK ADD  CONSTRAINT [FK_FamilyTrees_ProjectType] FOREIGN KEY([ProjectTypeId])
REFERENCES [dbo].[ProjectTypes] ([Id])
GO
ALTER TABLE [dbo].[FamilyTrees] CHECK CONSTRAINT [FK_FamilyTrees_ProjectType]
GO
ALTER TABLE [dbo].[MediaFiles]  WITH CHECK ADD  CONSTRAINT [FK_MediaFiles_Type] FOREIGN KEY([MediaTypeId])
REFERENCES [dbo].[MediaTypes] ([Id])
GO
ALTER TABLE [dbo].[MediaFiles] CHECK CONSTRAINT [FK_MediaFiles_Type]
GO
ALTER TABLE [dbo].[MediaFiles]  WITH CHECK ADD  CONSTRAINT [FK_MediaFiles_Uploader] FOREIGN KEY([UploadedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MediaFiles] CHECK CONSTRAINT [FK_MediaFiles_Uploader]
GO
ALTER TABLE [dbo].[MediaLinks]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinks_Animal] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[MediaLinks] CHECK CONSTRAINT [FK_MediaLinks_Animal]
GO
ALTER TABLE [dbo].[MediaLinks]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinks_File] FOREIGN KEY([MediaFileId])
REFERENCES [dbo].[MediaFiles] ([Id])
GO
ALTER TABLE [dbo].[MediaLinks] CHECK CONSTRAINT [FK_MediaLinks_File]
GO
ALTER TABLE [dbo].[MediaLinks]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinks_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[MediaLinks] CHECK CONSTRAINT [FK_MediaLinks_Person]
GO
ALTER TABLE [dbo].[MediaLinks]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinks_Story] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([Id])
GO
ALTER TABLE [dbo].[MediaLinks] CHECK CONSTRAINT [FK_MediaLinks_Story]
GO
ALTER TABLE [dbo].[PersonRelationships]  WITH CHECK ADD  CONSTRAINT [FK_PersonRelationships_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PersonRelationships] CHECK CONSTRAINT [FK_PersonRelationships_Creator]
GO
ALTER TABLE [dbo].[PersonRelationships]  WITH CHECK ADD  CONSTRAINT [FK_PersonRelationships_Person1] FOREIGN KEY([Person1Id])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[PersonRelationships] CHECK CONSTRAINT [FK_PersonRelationships_Person1]
GO
ALTER TABLE [dbo].[PersonRelationships]  WITH CHECK ADD  CONSTRAINT [FK_PersonRelationships_Person2] FOREIGN KEY([Person2Id])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[PersonRelationships] CHECK CONSTRAINT [FK_PersonRelationships_Person2]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Creator]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Gender]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Tree] FOREIGN KEY([TreeId])
REFERENCES [dbo].[FamilyTrees] ([Id])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Tree]
GO
ALTER TABLE [dbo].[ProductivityRecords]  WITH CHECK ADD  CONSTRAINT [FK_ProductivityRecords_Animals] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[ProductivityRecords] CHECK CONSTRAINT [FK_ProductivityRecords_Animals]
GO
ALTER TABLE [dbo].[ProductivityRecords]  WITH CHECK ADD  CONSTRAINT [FK_ProductivityRecords_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductivityRecords] CHECK CONSTRAINT [FK_ProductivityRecords_Creator]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Creator]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Person]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Person]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[VeterinaryEvents]  WITH CHECK ADD  CONSTRAINT [FK_VeterinaryEvents_Animals] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
GO
ALTER TABLE [dbo].[VeterinaryEvents] CHECK CONSTRAINT [FK_VeterinaryEvents_Animals]
GO
ALTER TABLE [dbo].[VeterinaryEvents]  WITH CHECK ADD  CONSTRAINT [FK_VeterinaryEvents_Creator] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VeterinaryEvents] CHECK CONSTRAINT [FK_VeterinaryEvents_Creator]
GO
ALTER TABLE [dbo].[VeterinaryEvents]  WITH CHECK ADD  CONSTRAINT [FK_VeterinaryEvents_Types] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[VeterinaryEventTypes] ([Id])
GO
ALTER TABLE [dbo].[VeterinaryEvents] CHECK CONSTRAINT [FK_VeterinaryEvents_Types]
GO
ALTER TABLE [dbo].[MediaLinks]  WITH CHECK ADD  CONSTRAINT [CK_MediaLinks_Target] CHECK  (([PersonId] IS NOT NULL AND [AnimalId] IS NULL AND [StoryId] IS NULL OR [PersonId] IS NULL AND [AnimalId] IS NOT NULL AND [StoryId] IS NULL OR [PersonId] IS NULL AND [AnimalId] IS NULL AND [StoryId] IS NOT NULL))
GO
ALTER TABLE [dbo].[MediaLinks] CHECK CONSTRAINT [CK_MediaLinks_Target]
GO
USE [master]
GO
